{% extends 'blog/base.html' %}
<!-- we use percentage sign on html because it means the data is dynamic -->
{% block content %}
<!-- this block content with percentage sign means that the content section from blog base will be overriden by this content section. check stackoverflow for better understanding -->
    <div class = 'content-section'>
        <form method="POST">
            <!-- here you have to write a CSRF token. it protects the form from attack. you must have to add it. otherwise your form wont work.-->
            {% csrf_token %}
            <fieldset class = 'form-group'>
                <legend class ='border-bottom mb-4'>Join Today</legend>
                <!-- mb - mergin bottom -->
                {{ form }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type = "submit">Sign Up</button>
            </div>
        </form>
        <div class="border_top pt-3">
            <!-- pt - padding top -->
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
                <!-- ml - mergin left -->
            </small>
        </div>
    </div>

{% endblock content %}